<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bill.css">
  <title>Node.js HTML CSS Server</title>
</head>

<body>

    <div id=customer class=customer>
        <div id=home class=home> 
        <a href="/bill0"><button id=prebtn class=prebtn><img src=https://www.systemuicons.com/images/icons/chevron_left.svg></button></a>
          
        <a href="/customer0"><button id=rightcustomer0btn class=rightbtn>+</button></a>
        
        <div class=mid>
        <h>Customer</h>
        </div>
        </div>
        
        <div id=filterdiv class=filterdiv>
        <button id=filterbtn class=filterbtn><img src="https://www.systemuicons.com/images/icons/search.svg"></button>
        <input type=text id=filter class=filter>
        </div>
          
    <a href="/customer0"><button id=customer0btn class=inptbtn>+ new Customer</button></a>

    <ul>
      <% for (var result of result) { %>
        <li>
          <form action="/customerl" method="post">
            <input class="bllinpt" name="customer" type="text" value="<%- (result.fname + ' ' + result.lname) %>">
            <input name="customerID" type="hidden" value="<%- result.ID %>">
            <input name="billID" type="hidden" value="<%- billID %>">
            <input class="bllbtn" name="submit" type="submit" value="Select"> 
          </form>
        </li>
      <% } %>
    </ul>
    
</body>

<script>

// filter bll li
document.getElementById("filter").addEventListener("input", function (event) {

const filteritem = event.target.value.toLowerCase();
const itemlist = document.querySelectorAll("#itemlist li");
  
itemlist.forEach(function(item)  {
  
const itemText = item.textContent.toLowerCase();
  
if (itemText.includes(filteritem)) {
    item.style.display = "list-item";
    
} else { 
    item.style.display = "none";
   }
  });
});
</script>

</html>    