<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bill.css">
  <title>Node.js HTML CSS Server</title>
</head>

<body>
  
  <div class="grid">
      <div class="item1">
      <div id="home" class="home"> 
      <a href="/home"><button class="prebtn"><img src="https://www.systemuicons.com/images/icons/chevron_left.svg"></button></a>
      </div>
    </div>
          
    <div class="item2">
      <div class="subgrid">
        <button class="blockbtn"></button>
        <button class="blockbtn"></button>
        <a href=""><button class="blockbtn"></button></a>
        <a href=""><button class="blockbtn"></button></a>
        <a href=""><button class="blockbtn"></button></a>
        <a href=""><button class="blockbtn"></button></a>
        <a href=""><button class="blockbtn"></button></a>
        <a href=""><button class="blockbtn"></button></a>
        <a href=""><button class="blockbtn"></button></a>
      </div>
    </div>

  </div> 
        
    </body>
        
    </html>