<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bill.css">
  <title>Node.js HTML CSS Server</title>
</head>

  <div class=grid>
  <div class=item1>
  <div id=home class=home>
  </div>
  </div>
      
  <div class=item2>
  <div id=subgrid class=subgrid>
  <div id=profile class=profile>
    <a href="/user"><button id=prebtn class=prebtn><img src=https://www.systemuicons.com/images/icons/chevron_left.svg></button></a>
    
  <a href="/bitbox"><div id=bitboxbtn class=div>
    <h>Bitbox</h>
    <img src="/hello/src/img/Bitbox.png">
  </div></a>
  <a href="/ledger"><div id=ledgerbtn class=div>
    <h>Ledger</h>
    <img src="/hello/src/img/Ledger.png">
  </div></a>
  <a href="/trezor"><div id=trezorbtn class=div>
    <h>Trezor</h>
    <img src="/hello/src/img/Trezor.png">
  </div></a>
  <a href="/pubkey"><div id=pubkeybtn class=div>
    <h>Online</h>
    <img src="">
  </div></a>
  </div>
      
  </div>
  </div>
      
</body>
    
</html>